html{
  font-family: helvetica, sans-serif;
  color: gray;
}

h1{
  font-weight: bold;
}

a{
  color: gray;
}

.logo{
  position: absolute;
  top: 10px;
  left: 24px;
}

.navbar-mobile{
  display: flex;
  justify-content: space-around;
}

.navbar{
  display: flex;
  justify-content: flex-end;
}

nav ul li{
  list-style: none;
  padding-right: 16px;
}

@media only screen and (max-width: 480px){
  .banner{
    flex-direction: column;
  }
  .banner .container-left{
    width: 100%;
  }
  .banner .container-right{
    width: 100%;
  }
  .info-img{
    display: none;
  }
  .information .container-left{
    display: none;
  }
  .information .container-right{
    width: 100%;
  }
  .navbar{
    display: none;
  }
  .info1{
    display: none;
  }
  .info-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .info-img-mobile{
    width: 100%;
    height: auto;
  }
  .course-desc{
    display: none;
  }
  .course{
    width: 100%;
  }
  .courses-mobile{
    width: 100%;
  }
}

@media only screen and (min-width: 480px){
  .info-img-mobile{
    display: none;
  }
  .navbar-mobile{
    display: none;
  }
  .courses-mobile{
    display: none;
  }
}

.banner{
  display: flex;
  background-color: lightgray;
}

.container-left{
  width: 60%;
  height: auto;
}

.banner-text{
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  margin: 32px 24px;
  justify-content: center;
}

.banner-text, h1 h4 button{
  padding-left: 24px;
}

.button{
  background-color: darkgray;
  color: gray;
  height: 32px;
}

.big-image{
  height: auto;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-right: 24px;
  margin-left: 24px;
}

.container-right{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 32px 24px;
  justify-content: center;
}

.information{
  display: flex;
}

.info-item{
  display: flex;
  margin-left: 24px;
  padding: 24px;
}

.info-item div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-right .info-item:last-child{
  background-color: lightgray;
}

.info-img{
  width: 35%;
  height: 35%;
}

.info1 h1, p, span, h3{
  padding-left: 24px;
}

.course{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course h1{
  margin-top: 32px;
  margin-bottom: 32px;
}

.mobile-course{
  background-color: lightgray;
  display: flex;
  width: 100%;
  margin-bottom: 8px;
}

.mobile-course h3{
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 24px;
}

.courses{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course-desc{
  width: 350px;
  margin-right: 32px;
  margin-bottom: 32px;
}

.course-desc img{
  width: 100%;
  height: auto;
}

.thesis{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.thesis-content{
  display: flex;
}

.thesis-content .container-right{
  justify-content: flex-start;
}

.container-right .thesis-side:first-child{
  background-color: lightgray;
}

.thesis-side{
  display: flex;
  margin-left: 24px;
}

.thesis-side img{
  width: 35%;
  height: 35%;
  padding: 16px;
}

.thesis-desc{
  display: flex;
  flex-direction: column;
}
